{% extends 'base.html.twig' %}

{% block title %}Liste des équipes - FC Rosheim{% endblock %}
{% block meta_description %}Liste des équipes du FC Rosheim{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="flex flex-column align-items-center">
            {% for team in teams %}
                <div class="row col-md-12 flex justify-content-md-center">
                    <div class="col-md-4 justify-content-md-center flex align-items-center card-team">
                        <a id="teamName" href="{{ path('team_show', {'id': team.id}) }}">{{ team.teamName }} {{ team.season }}</a>
                    </div>
                    <div class="col-md-1">
                        <a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-primary btn-team" title="Modifier l'équipe">Modifier</a>
                    </div>
                </div>
            {% else %}
            <div class="col-md-6 text-center card-team">
                <h4>Le club n'a actuellement aucune équipe.</h4>
            </div>
            {% endfor %}
            <a href="{{ path('team_new') }}" class="btn btn-primary btn-team" title="Nouvelle équipe">Créer une nouvelle équipe</a>
        </div>
    </div>  
    
{% endblock %}