{% extends 'base.html.twig' %}

{% block title %}{{ team.teamName }} {{ team.season }} - FC Rosheim{% endblock %}
{% block meta_description %}Liste des joueurs de l'équipe {{ team.teamName }} {{ team.season }} du FC Rosheim{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="flex align-items-center">
        <main class="col-md-12">
        {# Since team picture is nullable we should verify if this team has a picture #}
            {% if team.picture is not null %}
                <div class="flex justify-content-center">
                    <figure class="team-picture">
                        <img src="{{ asset('uploads/' ~ team.picture)}}" alt="Équipe {{ team.teamName ~ ' ' ~ team.season }} du FC Rosheim">
                        <figcaption>Équipe {{ team.teamName ~ ' ' ~ team.season }} du FC Rosheim</figcaption>
                    </figure>
                </div>
            {% endif %}
            <div class="card flex flex-column">
                {# Goalkeepers list #}
                <h2>Gardien</h2>
                <div class="flex flex-row">
                    {% for goalKeeper in goalKeepers %}
                        {% if goalKeeper.picture is not null %}
                            <figure class="player-picture">
                                <img src="{{ asset('uploads/' ~ goalKeeper.picture)}}" 
                                    alt="{{ goalKeeper.firstName ~ ' ' ~ goalKeeper.lastName }}, gardien du FC Rosheim">
                                <figcaption><h6>{{ goalKeeper.firstName ~ ' ' ~ goalKeeper.lastName }}</h6></figcaption>
                            </figure>
                        {% else %}
                            <figure class="player-picture">
                                <img src="{{ asset('img/no_player_picture.jpg')}}" 
                                    alt="{{ goalKeeper.firstName ~ ' ' ~ goalKeeper.lastName }}, gardien du FC Rosheim">
                                <figcaption><h6>{{ goalKeeper.firstName ~ ' ' ~ goalKeeper.lastName }}</h6></figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                {# Defenders list #}
                <h2>Défenseur</h2>
                <div class="flex flex-row">
                    {% for defender in defenders %}
                        {% if defender.picture is not null %}
                            <figure class="player-picture">
                                <img src="{{ asset('uploads/' ~ defender.picture)}}" 
                                    alt="{{ defender.firstName ~ ' ' ~ defender.lastName }}, défenseur du FC Rosheim">
                                <figcaption><h6>{{ defender.firstName ~ ' ' ~ defender.lastName }}</h6></figcaption>
                            </figure>
                        {% else %}
                            <figure class="player-picture">
                                <img src="{{ asset('img/no_player_picture.jpg')}}" 
                                    alt="{{ defender.firstName ~ ' ' ~ defender.lastName }}, défenseur du FC Rosheim">
                                <figcaption><h6>{{ defender.firstName ~ ' ' ~ defender.lastName}}</h6></figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                {# Midfielders list #}
                <h2>Milieu</h2>
                <div class="flex flex-row">
                    {% for midfielder in midfielders %}
                        {% if midfielder.picture is not null %}
                            <figure class="player-picture">
                                <img src="{{ asset('uploads/' ~ midfielder.picture)}}" 
                                    alt="{{ midfielder.firstName ~ ' ' ~ midfielder.lastName }}, milieu du FC Rosheim">
                                <figcaption><h6>{{ midfielder.firstName ~ ' ' ~ midfielder.lastName }}</h6></figcaption>
                            </figure>
                        {% else %}
                            <figure class="player-picture">
                                <img src="{{ asset('img/no_player_picture.jpg')}}" 
                                    alt="{{ midfielder.firstName ~ ' ' ~ midfielder.lastName }}, milieu du FC Rosheim">
                                <figcaption><h6>{{ midfielder.firstName ~ ' ' ~ midfielder.lastName}}</h6></figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                {# Strickers list #}
                <h2>Attaquant</h2>
                <div class="flex flex-row">
                    {% for stricker in strickers %}
                        {% if stricker.picture is not null %}
                            <figure class="player-picture">
                                <img src="{{ asset('uploads/' ~ stricker.picture)}}" 
                                    alt="{{ stricker.firstName ~ ' ' ~ stricker.lastName }}, attaquant du FC Rosheim">
                                <figcaption><h6>{{ stricker.firstName ~ ' ' ~ stricker.lastName }}</h6></figcaption>
                            </figure>
                        {% else %}
                            <figure class="player-picture">
                                <img src="{{ asset('img/no_player_picture.jpg')}}" 
                                    alt="{{ stricker.firstName ~ ' ' ~ stricker.lastName }}, attaquant du FC Rosheim">
                                <figcaption><h6>{{ stricker.firstName ~ ' ' ~ stricker.lastName}}</h6></figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
