{% extends 'base.html.twig' %}

{% block title %}{{ team.teamName }} {{ team.season }} - FC Rosheim{% endblock %}
{% block meta_description %}Liste des joueurs de l'équipe {{ team.teamName }} {{ team.season }} du FC Rosheim{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="flex align-items-center">
        <main class="col-md-12">
        {# Since team picture is nullable we should verify if this team has a picture #}
            {% if team.picture is not null %}
                <div class="flex justify-content-center">
                    <figure class="team-picture">
                        <img src="{{ asset('uploads/' ~ team.picture)}}" alt="Équipe {{ team.teamName ~ ' ' ~ team.season }} du FC Rosheim">
                        <figcaption>Équipe {{ team.teamName ~ ' ' ~ team.season }} du FC Rosheim</figcaption>
                    </figure>
                </div>
            {% endif %}
            <div class="card flex flex-column">
                {# Goalkeepers list #}
                <h2>Gardien</h2>
                <div class="flex flex-row">
                    {% for goalKeeper in goalKeepers %}
                        {% if goalKeeper.picture is not null %}
                                <figure class="player-picture">
                                    <img src="{{ asset('uploads/' ~ goalKeeper.picture)}}" 
                                        alt="Équipe {{ goalKeeper.firstName ~ ' ' ~ goalKeeper.lastName }} du FC Rosheim">
                                    <figcaption><h6>{{ goalKeeper.firstName }}</h6></figcaption>
                                </figure>
                        {% else %}
                                <figure class="player-picture">
                                    <img src="{{ asset('img/no_player_picture.jpg')}}" 
                                        alt="Équipe {{ goalKeeper.firstName ~ ' ' ~ goalKeeper.lastName }} du FC Rosheim">
                                    <figcaption><h6>{{ goalKeeper.firstName }}</h6></figcaption>
                                </figure>
                        {% endif %}
                    {% endfor %}
                </div>
                {# Defenders list #}
                <h2>Défenseur</h2>
                <div class="flex flex-row">
                    {% for defender in defenders %}
                        <h6>{{ defender.firstName }}</h6>
                    {% endfor %}
                </div>
                {# Midfielders list #}
                <h2>Milieu</h2>
                <div class="flex flex-row">
                    {% for midfielder in midfielders %}
                        <h6>{{ midfielder.firstName }}</h6>
                    {% endfor %}
                </div>
                {# Strickers list #}
                <h2>Attaquant</h2>
                <div class="flex flex-row">
                    {% for stricker in strickers %}
                        <h6>{{ stricker.firstName }}</h6>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
