{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ parent()}}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

{% endblock %}

{% block title %}Event index{% endblock %}

{% block content %}

<div class="row">
	<div class="col-2"></div>

	<div class="col-8">
	<h1>Tous les événements</h1>
	<div class="card container-fluid d-flex flex mb-3">
    	<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Type</th>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Location</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.startDate ? event.startDate|date('d/m/Y H:i') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('d/m/Y H:i') : '' }}</td>
                <td>{{ event.location }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">Voir</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        	</tbody>
    	</table>
		<a href="{{ path('event_new') }}">Créer un nouvel événement</a>
	</div>
	<a href="{{ path('news_index') }}">Retour à la liste</a>
	<h1 style="margin-top: 3rem;">Vue calendrier</h1>
	<div class="card container-fluid d-flex flex mb-3">
		<div id="calendar-holder" class="calendar-padding"></div>
	</div>
	</div>
	<div class="col-2"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			var calendarEl = document.getElementById('calendar-holder');

				var calendar = new FullCalendar.Calendar(calendarEl, {
					defaultView: 'dayGridMonth',
					allDay: true, // hide event time
					editable: true,
					eventSources: [
						{
							url: "{{ path('fc_load_events') }}",
							method: "POST",
							extraParams: {
							filters: JSON.stringify({})
							},
							failure: () => { // alert("There was an error while fetching FullCalendar!");
							}
						},
					],
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				plugins: [
					'interaction', 'dayGrid', 'timeGrid'
				], // https://fullcalendar.io/docs/plugin-index
				timeZone: 'UTC'
			});

			// var calendarGrid = document.getElementsByClassName('fc-view-container');
			// calendarGrid.classList.add('calendar-bg');

			calendar.setOption('locale', 'fr');
			calendar.render();
});
	</script>
{% endblock %}
