{% extends 'base.html.twig' %}


{% block title %}Mon profil - FC Rosheim{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="full-height flex align-items-center">
        <aside class="col-md-3">
            <div class="sidebar">
                <ul>  
                    <a href="{{ path('admin_users') }}"><li id='select_users'>Gestion utilisateur</li></a>
                    <a href="{{ path('admin_events') }}"><li id='select_event'>News</li></a>
                    <a href="{{ path('admin_teams') }}"><li id='select_teams'>Équipes</li></a>
                    <a href="{{ path('admin_results') }}"><li id='select_results'>Résultats</li></a>
                    <a href="{{ path('admin_events') }}"><li id='select_events'>Évenements</li></a>
                </ul>
            </div>
        </aside>
        <main class="col-md-8 full-height">
            <h1 class='display-1 text-center'>PANNEAU D'ADMINISTRATION</h1>
                <div class="card">
                <h1 class="display-2">Gestion des Évenements</h1>
                <table class="table table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Créateur</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Emplacement</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                    {% for event in eventRepository %}
                        <tr class='clickable' onclick="window.location='{{ path('admin_event', {'id': event.id}) }}'">
                            <td>{{ event.id }}</td>
                            <td>
                            {% if event.user_id|default %}
                                {{ event.user_id }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>
                            {% if event.title|default %}
                                {{ event.title }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>
                            {% if event.description|default %}
                                {{ event.description }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>
                            {% if  event.type|default %}
                                {{ event.type }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>
                            {% if  event.start_date|default %}
                                {{ event.start_date }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>
                            {% if  event.end_date|default %}
                                {{ event.end_date }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>
                            {% if  event.location|default %}
                                {{ event.location }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Pas d'évenements trouvés.</td>
                        </tr>
                    {% endfor %}
                </table>
                <button class='btn btn-primary clickable' onclick="window.location='#'">Créer un nouvel Évenement</button>
                </div>
        </main>
    </div>
</div>
{% endblock content %}