{% extends 'base.html.twig' %}


{% block title %}Mon profil - FC Rosheim{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="full-height flex align-items-center">
        {{ include ("include/admin/_admin_sidepanel.html.twig") }}
        <main class="col-md-8 full-height">
            {{ include('include/admin/_admin_title.html.twig') }}
                <div class="card">
                <h1 class="display-2">Gestion des News</h1>
                <table class="table table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Créé le</th>
                            <th>MàJ le</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                    {% for news in newsRepository %}
                        <tr onclick="window.location='{{ path('admin_news_edit', {'id': news.id}) }}'"
                            style='cursor: pointer;'>
                            <td>{{ news.id }}</td>
                            <td>
                            {% if  news.title|default %}
                                {{ news.title }}
                            {% else %}
                                N/A
                            {% endif %}
                            </td>
                            <td>
                            {% if  news.picture|default %}
                                <a href="{{ news.picture }}" target="_blank">{{ news.picture }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                            </td>
                            <td>
                            {% if  news.createdAt|default %}
                                {{ news.createdAt|date('d/m/Y H:i') }}
                            {% else %}
                                N/A
                            {% endif %}
                            </td>
                            <td>
                            {% if  news.updatedAt|default %}
                                {{ news.updatedAt|date('d/m/Y H:i') }}
                            {% else %}
                                N/A
                            {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucune news trouvée.
                                Cliquez sur le bouton ci-dessous pour commencer à en ajouter !</td>
                        </tr>
                    {% endfor %}
                </table>
                <button class='btn btn-primary clickable' onclick="window.location='{{ path('admin_news_new') }}'">Créer une nouvelle News</button>
                </div>
        </main>
    </div>
</div>
{% endblock content %}