{% extends 'base.html.twig' %}


{% block title %}{{ include('admin/_title.html.twig') }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="full-height flex align-items-center">
        {{ include ("include/admin/_admin_sidepanel.html.twig") }}
        <main class="col-md-8 full-height">
            {{ include('include/admin/_admin_title.html.twig') }}
                <div class="card admin">
                <h1 class="display-2">Gestion des Statistiques</h1>
                    {{ form_start(form, {attr: {class: 'form-players-submit'}}) }}
                    <table class="table table-striped table-dark table-hover">
                        <tbody>
                            <tr>
                                <th>Matches joués</th>
                                <td>
                                    {{ form_widget(form.gamePlayed) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Cartons jaunes</th>
                                <td>
                                    {{ form_widget(form.yellowCards) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Cartons rouges</th>
                                <td>
                                    {{ form_widget(form.redCards) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Buts</th>
                                <td>
                                    {{ form_widget(form.goals) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Passes décisives</th>
                                <td>
                                    {{ form_widget(form.assists) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Arrêts</th>
                                <td>
                                    {{ form_widget(form.saves) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Clean sheets</th>
                                <td>
                                    {{ form_widget(form.cleanSheets) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        <button class='btn btn-primary' id='admin_save_button' type="submit">Sauvegarder</button>
                {{ form_end(form) }}
                </div>
        </main>
    </div>
</div>
{% block javascripts %}
    {{ parent() }}
    {{ include('include/admin/_admin_js.html.twig') }}
{% endblock %}
{% endblock content %}