{% extends 'base.html.twig' %}

{% block title %}{{ include('admin/_title.html.twig') }}{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="full-height flex align-items-center">
        {{ include ("include/admin/_admin_sidepanel.html.twig") }}
        <main class="col-md-8 full-height">
            {{ include('include/admin/_admin_title.html.twig') }}
                <div class="card admin">
                <h1 class="display-2">Gestion des Utilisateurs</h1>
                <table class="table table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>E-mail</th>
                            <th>Role(s)</th>
                            <th>Prénom</th>
                            <th>License</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                    {% for user in userRepository %}
                        <tr onclick="window.location='{{ path('admin_users_edit', {'id': user.id}) }}'"
                            style='cursor: pointer;'>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                            {% set nb_roles = 0 %}
                            {% for role in user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    {% if nb_roles >= 1 %}
                                        / administrateur
                                        {% else %} 
                                        Administrateur
                                    {% endif %}
                                    {% set nb_roles = nb_roles + 1 %}
                                {% endif %}
                                {% if role == "ROLE_USER" %}
                                    {% if nb_roles >= 1 %}
                                        / utilisateur
                                        {% else %} 
                                        Utilisateur
                                    {% endif %}
                                    {% set nb_roles = nb_roles + 1 %}
                                {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                            {% if  user.firstName|default %}
                                {{ user.firstName }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                            </td>
                            <td>{% if user.license == 0 %}
                                Non licencié
                                {% else %}
                                Licencié
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucun utilisateur trouvé</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
        </main>
    </div>
</div>
{% endblock content %}